[submodule "src/servorobot"]
	path = src/servorobot
	url = ../../tandukion/servorobot.git
[submodule "src/industrial_core"]
	path = src/industrial_core
	url = https://github.com/ros-industrial/industrial_core.git
	branch = kinetic-devel

