transitions[diagrams]==0.6.8
# Test additional library
pygraphviz==1.5
scipy==1.2.3
rospy-message-converter==0.4.0
pandas==0.24.2
memory_profiler==0.55.0
numba==0.46.0
numpy==1.16.1
networkx==2.2
pymunk==5.5.0
pyassimp==4.1.3
pytest==4.6.6
future==0.16.0